<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devrathrathee.legal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CaseDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AllCasesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MatterReceivedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MatterSentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PasswordResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CounselDeskActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CounselDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LegalQueriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.QueryDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AccountDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AddCaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MatterDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ProfessionalFeeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ProfessionFeeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AddPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.JobsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SearchLawyerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AddJobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".views.CaseHistoryActivity" />
        <activity android:name=".views.PaymentHistoryActivity" />
        <activity android:name=".views.SearchCounsellerActivity"></activity>
    </application>

</manifest>